{% extends "base.htm" %}

{% block content %}
    <div class="row justify-content-center align-items-center">
			<div class="col-3 text-center">
			    {% if verify %}
				<form method="POST">
				    {% csrf_token %}
				    {{ form.as_p }}
				    <button type="submit" class="btn btn-primary mt-3">Отправить</button>
				</form>
				{% else %}
				<h2>Ваша ссылка для установки нового пароля недействительна. Для обновления ссылки напишите нашему администратору: com@wview.ru</h2>
				{% endif %}
			</div>
	</div>
{% endblock %}
