{% load staticfiles %}
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
	<link rel="stylesheet" href="{% static 'css/mycss.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>
	
	<title>Тестовое задание LiteBOX</title>
  </head>
  <body>
  	<div class="bg-dark" style="position: fixed; width: 100%; height: 100%;">
		<div class="row justify-content-center align-items-center" style="height: 100%">
			<div class="col-3 text-center">
				<form method="POST">
				    {% if sec_auth %}
				        <h3 class="text-light">Превышен лимит ошибок при авторизации! Пожалуйста попробуйте еще раз через 1 час.</h3>
				    {% else %}
				        {% csrf_token %}
				        
				        {% if form.non_field_errors %}
					        <small class="form-text text-light">{{ form.non_field_errors.as_text }}</small>
					    {% endif %}
					
					    {% if form.username.errors %}
					        <small class="form-text text-light">{{ form.username.as_text }}</small>
					    {% endif %}
					
					    {{ form.username }}
					
					    {% if form.password.errors %}
					        <small class="form-text text-light">{{ form.password.as_text }}</small>
					    {% endif %}
					
					    {{ form.password }}
					
					    <script>
					        $("#{{ form.username.id_for_label }}").attr("placeholder", "Логин");
					        $("#{{ form.username.id_for_label }}").addClass("form-control mt-1");
					        
					        $("#{{ form.password.id_for_label }}").attr("placeholder", "Пароль");
					        $("#{{ form.password.id_for_label }}").addClass("form-control mt-2");
					    </script>
				        <button type="submit" class="btn btn-primary mt-3">Отправить</button>
				    {% endif %}
				</form>
			</div>
		</div>
	</div>
  </body>
</html>
