@import url('https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans+Condensed:300|Poiret+One|Russo+One|Tenor+Sans');

h1 {
	font-family: Open Sans Condensed;
	font-weight: bold;
	color: #fff;
	font-size: 55px;
}

h2 {
	font-family: Comfortaa;
	font-weight: bold;
	color: #080863;
	font-size: 30px;
}

h3 {
	font-family: Russo One;
	color: #4d4dcc;
	font-size: 25px;
}

@media (min-width: 768px) and (max-width: 1396px) {
	.h3-line {
		line-height: 2.5em;
	}
}

@media (min-width: 829px) and (max-width: 1402px) {
	.h3-line-lg {
		line-height: 2.5em;
	}
}

@media (min-width: 791px) and (max-width: 799px){
	.h3-line-md{
		line-height: 2.5em;
	}
}

@media (min-width: 905px) and (max-width: 1347px){
	.h3-line-lx{
		line-height: 2.5em;
	}
}

@media (min-width: 1255px) and (max-width: 1396px){
	.h3-line-2{
		line-height: 2.5em;
	}
}

@media (min-width: 1064px) and (max-width: 1170px){
	.h3-line-3{
		line-height: 2.5em;
	}
}

p {
	font-family: Tenor Sans;
	color: #2b2b73;
	font-size: 20px;
}

.loader-page {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	font-family: Poiret One;
	font-size: 40px;
	color: #fff;
	z-index: 9999;
}

.header-menu {
	background-color: #8e5901;
}

.comp-name {
	font-family: Poiret One;
	font-size: 40px;
	color: #fff;
}

a.comp-name {
	color: #fff;
}

a.comp-name:hover {
	color: #eaeaea;
}

.nav-item.comp-name {
	font-size: 20px;
}

.nav-link.active.comp-name {
	background-color: #080863;
}

.nav-link.comp-name:hover {
	background-color: #4d4dcc;
	color: #fff;
	transition: 0.5s;
}

.nav-link.comp-name.active:hover {
	background-color: #080863;
	color: #fff;
}

@media (min-width: 576px) {
	.nav-link.btn {
		margin-left: 3rem;
		margin-top: 0.5rem;
	}
}

@media (max-width: 575px) {
	.nav-link.btn {
		margin-left: 0.5rem;
		margin-top: 3rem;
	}
}

.line {
	height: 2px;
	background-color: #5abdc2;
}

#banner {
	background: url("../image/startup-593341.jpg") no-repeat center top;
	margin-top: 0px;
	padding-top: 0px;
	text-align: center;
	background-attachment: relative;
	packground-position: center center;
	min-height: 500px;
	width: 100%;
	
	background-size: 100%;
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#banner-bg {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0));
	width: 100%;
	height: 500px;
}

.header-text {
	margin-top: 130px;
}

.icon-color {
	color: #080863;
}

.bg-block-2 {
	background-color: #edbd6d;
}

.bg-block-4 {
	background-color: #1a1a99;
}

.bg-block-f {
	background-color: #8e5901;
}

.footer-text {
	font-family: Poiret One;
	font-size: 20px;
	color: #fff;
}

@media (min-width: 768px) {
	.price {
		position: absolute;
		bottom: 0.25rem;
		text-align: center;
		width: 100%;
	}
}

@media (min-width: 788px) and (max-width: 794px){
	.price-s {
		line-height: 2.5em;
	}
}

@media (min-width: 969px) and (max-width: 1223px){
	.price-x {
		line-height: 2.5em;
	}
}