{% load staticfiles %}
<html lang="ru">
<HEAD>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
	<link rel="stylesheet" href="{% static 'css/mycss.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<link rel="icon" type="image/x-icon" href="{% static 'favicon.ico'%}">
	
	<title>Тестовое задание</title>
</head>
  
  
<BODY>
	<div class="container-fluid header-menu sticky-top">
		<div class="container">
			<nav class="navbar navbar-expand-sm">
			  <a class="navbar-brand comp-name" style="color: #fff">Тестовое задание</a>
			  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
			   <div class="navbar-nav nav-pills">
			            <a class="nav-item nav-link ml-2 mt-2 text-center comp-name active" href="/">Документы</a>
			            <a class="nav-item nav-link ml-2 mt-2 text-center comp-name" href="/admin/">Админка</a>
			            <a class="nav-item nav-link ml-2 mt-2 text-center comp-name" href="/logout/">Выход</a>
			    </div>
			  </div>
			</nav>
		</div>
	</div>
	
	{% block content %}
	{% verbatim %}
	<div class="container-fluid" ng-app="myApp">
	    <div class="container" ng-view></div>
	</div>
	{% endverbatim %}
	<script>
	    var api_urls = JSON.parse("{{ urls_api|escapejs }}");
	</script>
	<script src="{% static 'js/angular.min.js' %}" ></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-route.js" ></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-resource.js"></script>
	<script src="{% static 'js/app.js' %}" ></script>
	<script src="{% static 'js/controllers.js' %}" ></script>
	<script src="{% static 'js/route.js' %}" ></script>
	
	<script src="{% static 'js/jquery-3.2.1.min.js' %}" ></script>
	<script src="{% static 'js/bootstrap.js' %}" ></script>

	{% endblock %}
</body>
