{% load staticfiles %}
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
	<link rel="stylesheet" href="{% static 'css/mycss.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>
	
	<title>Компания WVIEW</title>
	
	<style>
	    .my-fa-spin {
	      margin-left: -50px;
          -webkit-animation: my-fa-spin 4s infinite linear;
          animation: my-fa-spin 4s infinite linear;
        }
	    @-webkit-keyframes my-fa-spin {
          0% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
          }
          100% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
          }
        }
        @keyframes my-fa-spin {
          0% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
          }
          100% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
          }
        }
	</style>
  </head>
  <body>
  	<div class="loader-page bg-danger">
		<div class="row justify-content-center align-items-center" style="height: 100%">
			<div class="col text-center">
				<i class="fa fa-cog fa-spin fa-1x fa-fw text-light" aria-hidden="true"></i>
				<i class="fa fa-cog my-fa-spin fa-2x fa-fw text-dark" aria-hidden="true"></i>
				<a>{{ text }}</a>
				<i class="fa fa-cog my-fa-spin fa-2x fa-fw text-dark" aria-hidden="true" style="margin-left: 0;"></i>
				<i class="fa fa-cog fa-spin fa-1x fa-fw text-light" aria-hidden="true" style="margin-left: -50px;"></i>
			</div>
		</div>
	</div>
  </body>
</html>
