<a href="/#!/products" class="btn btn-outline-dark btn-lg mt-5">Перейти к товарам</a>

<div class="text-center bg-light rounded p-3 mt-5" ng-model="filter">
    <div class="row justify-content-around align-items-center mt-1">
        <div class="col">
            <p>Период дат</p>
            <label for="date_start">От</label>
            <input id='date_start' type="date" class="form-control" ng-model="filter.date_start">
            <label class="mt-2" for="date_end">До</label>
            <input id='date_end' type="date" class="form-control" ng-model="filter.date_end">
        </div>
        
        <div class="col">
            <p>Тип документа</p>
            <select class="form-control" ng-model="filter.type" ng-options="t.id as t.name for t in types">
            </select>
        </div>
        
        <div class="col">
            <p>Магазин</p>
            <select class="form-control" ng-model="filter.shop" ng-options="s.id as s.name for s in shops">
            </select>
        </div>
        
        <div class="col">
            <p>Кто принял</p>
            <select class="form-control" ng-model="filter.user" ng-options="u.id as u.last_name + ' ' + u.first_name + ' '+ u.patronymic for u in users">
            </select>
        </div>
    </div>
    
    <div class="row justify-content-around align-items-center mt-4">
        <div class="col">
            <button type="button" class="btn btn-primary" ng-click="add_filter();">Применить фильтр</button>
        </div>
        
        <div class="col">
            <button type="button" class="btn btn-warning" ng-click="del_filter();">Показать все</button>
        </div>
    </div>
</div>




<div ng-if="(new) || (view)" class="container-fluid p-3" ng-model="one_document">
    <div class="row">
        <div class="col p-2">
            <label for="date_document" class="form-control">Дата документа</label>
            <input id=="date_document" type="date" class="form-control" ng-model="one_document.date">
        </div>
        
        <div class="col p-2">
            <label for="type_document" class="form-control">Тип подкумента</label>
            <select id="type_document" class="form-control" ng-model="one_document.type" ng-options="t.id as t.name for t in types"></select>
        </div>
        
        <div class="col p-2">
            <label for="shop_document" class="form-control">Магазин</label>
            <select id="shop_document" class="form-control" ng-model="one_document.shop" ng-options="s.id as s.name for s in shops"></select>
        </div>
        
        <div class="col p-2">
            <label for="user_document" class="form-control">Пользователь</label>
            <p id="user_document" class="form-control">{{ one_document.user.last_name + ' ' + one_document.user.first_name + ' ' + one_document.user.patronymic }}</p>
        </div>
    </div>
    
    <div class="row mt-3">
        <p class="text-success" ng-click="add_field();"><i class="fa fa-plus-circle text-success" aria-hidden="true"></i> Добавить строку</p>
    </div>
    
    <div class="row">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th scope="col">Товар</th>
                    <th scope="col">Единица измерения</th>
                    <th scope="col">Количество</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            
            <tbody>
                <tr ng-repeat="prod in new_products">
                    <td><select id="product" class="form-control" ng-model="prod.product" ng-options="p.name for p in products track by p.id"></select></td>
                    <td>{{ prod.product.unit.name }} {{ prod.product.unit.abb }}</td>
                    <td><input type="number" class="form-control" ng-model="prod.count" min="0", step="0.01"></td>
                    <td style="vertical-align: middle;"><i class="fa fa-ban text-danger" aria-hidden="true" ng-click="del_field(prod)"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="row">
        <div class="col text-center">
            <i ng-if="new" class="fa fa-floppy-o text-success fa-2x" aria-hidden="true" ng-click="add_document();"></i>
            <i ng-if="view" class="fa fa-floppy-o text-success fa-2x" aria-hidden="true" ng-click="edit_document();"></i>
        </div>
        
        <div ng-if="view" class="col text-center">
            <i class="fa fa-trash text-danger fa-2x" aria-hidden="true" ng-click="delete_document();"></i>
        </div>
        
        <div class="col text-center">
            <i class="fa fa-times text-danger fa-2x" aria-hidden="true" ng-click="add_document_cancel();"></i>
        </div>
    </div>
</div>



<div ng-if="view == false" class="container p-3">
    <i class="fa fa-plus-circle text-success fa-2x m-2 ml-5" aria-hidden="true" ng-click="new_obj();"></i>
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th scope="col">Дата</th>
                <th scope="col">Тип документа</th>
                <th scope="col">Магазин</th>
                <th scope="col">Кто принял</th>
                <th scope="col"></th>
            </tr>
        </thead>
            
        <tbody>
            <tr ng-repeat="document in documents">
                <td>{{ document.date| date:"dd.MM.yyyy" }}</td>
                <td>{{ document.type.name }}</td>
                <td>{{ document.shop.name }}</td>
                <td>{{ document.user.last_name + ' ' + document.user.first_name + ' ' + document.user.patronymic }}</td>
                <td><i class="fa fa-pencil-square-o text-success" aria-hidden="true" ng-click="showView(document);"></i>
</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container-fluid bg-block-f">
    <p ng-if="(count) == false" class="text-left footer-text text-center">Нет записей</p>
    <p ng-if="count > 0" class="text-left footer-text text-center">{{ count }} записей</p>
</div>
