<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/#!/">Главная</a></li>
    <li class="breadcrumb-item active" aria-current="page">Товары</li>
  </ol>
</nav>

<div class="row justify-content-around mt-5">
    <div class="col col-md-8">
        <div class="input-group mb-2">
            <input type="text" class="form-control" placeholder="Название или штрихкод" ng-model="search" ng-change="filter_product();">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></div>
            </div>
        </div>
    </div>
    
    <div class="col">
        <select class="form-control" ng-model="unitFilter" ng-options="unit.name for unit in units" ng-change="filter_product();">
        </select>
    </div>
</div>

<table class="table table-hover text-center">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Название</th>
            <th scope="col">Единицы измерения</th>
            <th scope="col">Штрих код</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        <tr ng-model="newrecord" class="bg-dark">
            <th></th>
            <td><input type="text" class="form-control" ng-model="newrecord.name" placeholder="Наименование"></td>
            <td><select class="form-control" ng-model="newrecord.unit" ng-options="unit.id as unit.name for unit in units"></td>
            <td><input type="text" maxlength=16 class="form-control" ng-model="newrecord.barcode" placeholder="Штрих код"></td>
            <td scope="col"><i ng-If="edit==false" class="fa fa-plus-square text-success fa-2x" aria-hidden="true" ng-click="add_product();"></i><i ng-If="edit==true" class="fa fa-ban text-danger fa-2x" aria-hidden="true" ng-click="all_product();"></i></td>
            <td><i ng-If="edit==true" class="fa fa-check text-success fa-2x" aria-hidden="true" ng-click="edit_product_req();"></i></td>
        </tr>
        
        <tr ng-repeat="product in products">
            <th>{{ product.id }}</th>
            <td>{{ product.name }}</td>
            <td>{{ product.unit.abb }}</td>
            <td>{{ product.barcode }}</td>
            <td scope="col"><i class="fa fa-pencil text-success" aria-hidden="true" ng-click="edit_product(product);"></i></td>
            <td scope="col"><i class="fa fa-trash text-danger" aria-hidden="true" ng-click="delete_product(product.id);"></i></td>
        </tr>
    </tbody>
</table>

<div class="container-fluid bg-block-f">
    <div ng-if="(next) || (previous)" class="row justify-content-center text-center p-2">
        <div class="col">
            <i ng-if="(previous)" class="fa fa-chevron-left footer-text fa-2x" aria-hidden="true"></i>
        </div>
        
        <div class="col">
            <i ng-if="(next)" class="fa fa-chevron-right footer-text fa-2x" aria-hidden="true"></i>
        </div>
    </div>
    
    <p class="text-left footer-text text-center">{{ counts }} записей</p>
</div>
